<div class="card">
    <table>
        <thead>
            <tr>                
                <th>Data Efetiva</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Status</th>
                <!-- Pendente / Em tratamento / Concluído -->
                <th>Último Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lancamento of lancamentos">
                <td>{{ lancamento.DataEfetiva }}</td>
                <td>{{ lancamento.Debito }}</td>
                <td>{{ lancamento.Credito }}</td>
                <td>{{ lancamento.Status }}</td>
                <td>{{ lancamento.UltimoStatus }}</td>
            </tr>
        </tbody>
    </table>
</div>