:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 1% 0 4% 0;
    padding: 0;
    width: 64%;
    background-color: #ffffff;
}

button[type="button"] {
    color: #f39200;
}