:host {
    width: 100%;
}

* {
    font-family: "Futura Md Bt", "Arial", sans-serif;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

#texto {
    width: 100%;
}

.mat-mdc-dialog-actions {
    justify-content: center;
}

button[type="submit"] {
    height: 2.8rem;
    width: 10rem;
    background-color: #f39200;
    color: #ffffff;
    font-weight: bold;
    margin: .4rem;
}

button[type="button"] {
    height: 2.8rem;
    width: 10rem;
    background-color: #b3c7cb;
    color: #ffffff;
    font-weight: bold;
    margin: .4rem;
}