:host {
    display: flex;
    align-items: center;
    background: #005CA9;
    height: 4rem;
}

h1 {
    margin-left: 4%;
    font-family: 'Futura BD BT', Arial, sans-serif;
    font-weight: bold;
}

.gradiente-texto {
    background-image: linear-gradient(to right, #f39200, #f39200, #fff),
                      linear-gradient(to bottom, #f39200, #f39200, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

div {
    width: 74%;
}

p {
    font-family: 'Futura BK BT', Arial, sans-serif;
    color: #fff;
    font-size: 1rem;
    margin-right: 2%;
}