<div style="display: none;">
    <p-table [value]="lancamentos">
        <!-- Cabeçalho -->
        <ng-template pTemplate="header">
            <tr style="font-family: 'Futura BD BT', Arial, sans-serif;">
                <th>Data Efetiva</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Status</th>
                <th>Último Status</th>
                <th></th>
            </tr>
        </ng-template>

        <!-- Corpo da tabela -->
        <ng-template pTemplate="body" let-rowData>
            <tr style="font-family: 'Futura BK BT', Arial, sans-serif;">
                <td>{{ rowData.DataEfetiva }}</td>
                <td>{{ rowData.Debito | currency:'BRL' }}</td>
                <td>{{ rowData.Credito | currency:'BRL' }}</td>
                <td>{{ rowData.Status }}</td>
                <td>{{ rowData.UltimoStatus }}</td>
                <td></td>
            </tr>
        </ng-template>

    </p-table>
</div>

