:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#roteador{
    display: flex;
    flex-grow: 1;
}

app-rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}