:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

app-cabecalho {
    z-index: 2;
    position: relative;
}

#roteador {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: relative;
    z-index: 1;
}

app-rodape {
    z-index: 2;
    position: relative;
}