<mat-card id="historicos">
    <mat-card-header>
        <p style="font-family: Futura HV BT; padding-left: 3.4rem;">Histórico</p>
        <button mat-icon-button title="Incluir histórico" (click)="abrirDialog()" type="button">
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content id="historicos-content" *ngFor="let historico of contabilizarHistoricos">
        <mat-card class="historico">
            <mat-card-header>
                <p style="margin-right: auto;">{{ historico.FUNCIONARIO }}</p>
                <p>{{ historico.DATAHISTORICO | date:'dd/MM/yyyy HH:mm:ss' }}</p>
            </mat-card-header>
            <mat-card-content>
                <p>{{ historico.HISTORICO }}</p>
            </mat-card-content>
        </mat-card>     
    </mat-card-content>
</mat-card>