:host {
    width: 100%;
    max-height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#historicos {
    width: 70%;
    background-color: #eff4f53d;
    overflow-y: auto;
}

#historicos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.historico {
    width: 90%;
    margin: .4rem 0;
    overflow: auto;
    /* Permite que o card aumente de tamanho para acomodar o texto */
    word-wrap: break-word;
}

mat-card-header {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
}

button {
    color: #005CA9;
}